# CMake
!docs/build
build/
build-ninja/
.cache
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Binaries
*.exe
*.out
*.so
*.a
*.dll

# IDEs and editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Other
vendor/
*.log

cache.sqlite
